<app-menufront></app-menufront>

<div class="banner-wrapper">
    <div class="banner-image">
      <img src="assets/images/backgrounds/histowal.JPG" alt="Banner">
      <div class="banner-text">
        <h1 class="title-small">VOTRE PARCOURS</h1>
        <br>
        <h2 class="title-big">Historique</h2>
      </div>
    </div>
  </div>

  <div class="formation-section">
    <h2 class="formation-title">VOS FORMATIONS ACQUISES</h2>
    <p class="formation-subtitle">Retrouvez ici l’ensemble des formations que vous avez suivies, ainsi que les compétences que vous avez développées au fil de votre parcours.</p>
  </div>

  <div class="history">
    <div class="formation-card">
        <img src="/assets/images/logos/angular.png" alt="Formation">
        <div class="details">
            <h2>Formation en Angular</h2>
            <p>Apprenez Angular et développez des applications modernes avec TypeScript et les meilleures pratiques.</p>
            <span>Date: 12 Mars 2024</span>
        </div>
    </div>
    <div class="formation-card">
        <img src="/assets/images/logos/spring.png" alt="Formation">
        <div class="details">
            <h2>Formation en Spring Boot</h2>
            <p>Découvrez Spring Boot et apprenez à concevoir des API REST performantes avec une architecture robuste.</p>
            <span>Date: 20 Avril 2024</span>
        </div>
    </div>
    <div class="formation-card">
        <img src="/assets/images/logos/devops.JPG" alt="Formation">
        <div class="details">
            <h2>Formation en DevOps</h2>
            <p>Apprenez les pratiques CI/CD, l'automatisation des déploiements avec Docker et Kubernetes, et la gestion d’infrastructure avec Terraform.</p>
            <span>Date: 5 Mai 2024</span>
        </div>
    </div>
</div>
<br>
<h2>Historique des logs</h2>
<ul>
  <li *ngFor="let log of logs">
    {{ log.timestamp }} - {{ log.action }} - {{ log.user }}
  </li>
</ul>

<app-footer></app-footer>
